<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codecraftlabs.idgenerator.id.repository.UniqueIdMapper">
    <select id="getNextId" resultType="Long">
        SELECT NEXTVAL(#{seriesName});
    </select>

    <select id="getCurrentSequenceValue" resultType="Long">
        SELECT last_value FROM pg_sequences WHERE sequencename = #{sequenceName};
    </select>

    <resultMap id="sequenceResultMap" type="org.codecraftlabs.idgenerator.id.Sequence">
        <constructor>
            <arg column="schema" javaType="String"/>
            <arg column="name" javaType="String"/>
            <arg column="start_value" javaType="Long"/>
            <arg column="min_value" javaType="Long"/>
            <arg column="max_value" javaType="Long"/>
            <arg column="increment_by" javaType="Long"/>
            <arg column="cache_size" javaType="Long"/>
            <arg column="cycle" javaType="Boolean"/>
            <arg column="last_value" javaType="Long"/>
        </constructor>
    </resultMap>
    <select id="getSequenceDetails" resultMap="sequenceResultMap">
        SELECT schemaname schema, sequencename name, start_value, min_value, max_value, increment_by, cycle, cache_size, last_value from pg_sequences where schemaname = #{schema} and sequencename = #{name};
    </select>

    <update id="updateSequenceLastValue">
        select setval(#{name}, #{lastValue})
    </update>
</mapper>